{% extends 'layout.html' %}

{% block title %}
<title>{{ title }}</title>
{% endblock title %}

{% block content %}
<div class="container">

    <div class="h2 text-center my-4">
        Dogs
    </div>
    <div class="row my-4 text-center">

        {% for dog in dogs %}
        <div class="col-lg-4 p-4">
            <div class="card card-project">
                <div class="h5 my-2">{{ dog.name }}</div>
                <img src="/static/{{ dog.img_url }}" alt="{{ dog.long_breed }}" class="card-img-top">
                <div class="row">
                    <div class="col-md-6">

                        <p class='my-2'>{{ dog.long_breed | capfirst }}</p>
                        
                    </div>
                    <div class="col-md-6">
                        <p class="my-2">{{ dog.weight }} Kg</p>
                    </div>

                </div>

            </div>
            
        </div>
        {% endfor %}
        
        <!-- {% for project in projects %}
        <div class="col-md-4 p-4">
            <div class="card bg-black card-project">
            <img src="{{project.image.url }}" class="card-img-top" />
        
            <div class="card-body">
        
                <h2>{{ project.title }}</h2>
                <p>{{ project.description }}</p>
        
                {% if project.url %}
                <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
                Project</a>
                {% endif %}
            </div>
            </div>
        </div>
        {% endfor %} -->
    </div>
</div>

{% endblock content %}